/* tabs styles */
/* tabs & tablinks */
.deleted-check {
  display: flex;
  /* align to the left */
  margin: 5px;
}

.tab,
#page-controls {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-direction: row;
}
#table-container {
  display: flex;
  justify-content: stretch;
  width: 100%;
}
/* {
  border: 1px solid #ccc;
  border-bottom: none;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
} */
.tab input {
  flex: 1 1 auto;
  cursor: pointer;
  margin: 0;
  border-radius: 0px;
  padding: 14px 16px;
  font-size: 17px;
}

.tab input:hover {
  background-color: #ddd;
}

.tab input.active {
  background-color: #ccc;
}

.tabs {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}
.content {
  overflow: auto;
}

.table-legend{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

table {
  border-collapse: collapse;
  flex: 1 1 100%;
  max-width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  /* max-width: 20vw; */
  text-align: center;
  /* truncate text */  
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
td  img {
  /* width: 150px; */
  max-width: 100%;
  max-height: 100px;
}

tr {
  max-height: 10rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}
tr.active {
  background-color: #adffeb;
}
th {
  background-color: #eeeeee;
  /* border: 123px solid black; */
}
tr button{
  border: 1px solid gray;
}

/* .table-responsive {
} */

.hidden {
  display: none;
}

.updated {
  color: blue;
}
.deleted {
  text-decoration: line-through;
  color: gray;
}
.unapproved{
  border:2px inset red;
}
.seller{
  color: green;
}

.admin{
  color: rgb(8, 0, 255);
}
.progress {
  cursor: progress;
  pointer-events: none;
}
form {
  display: flex;
  flex-direction: column;
}
form > div {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  justify-content: space-evenly;
  margin: auto;
}
form > div > div {
  flex: 1 1 30%;
  /* max-width: 33%; */
  padding-inline: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  text-align: center;
}

/* form > div > div *{
  flex-direction: column;
  display: block;
}
form > [type=button]{
  flex: 1 1 ;
} */
