 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
}
/* body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

 p:first-child{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
 /* .content div {
  display: flex;
  margin: 10 0;
  justify-content: space-between;
} */
 /* .content div label {
  margin-right: 20px;
} */
 input[type=submit]{
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  margin: 5px auto 10px;
}

